.blog-content {

  h1 {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .blog-index {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 0 auto;
  }
  .blog-posts {
    width:100%;
    position:relative;
    padding:20px 40px 20px;
    ul {
      li {
        padding: 20px;
        cursor: pointer;
        transition: background linear 0.5s;
        border-bottom: 1px solid $limegreen;
      }
      li:hover {
        background: $limegreen;
        color: $gray-dk;
        h3, p {
          color: $gray-dk;
        }
      }
    }
    h2, h3 {
      color: $limegreen;
    }
    .post {
      -webkit-transition:0.5s linear all;
      transition:0.5s linear all;
      opacity:1;
      padding-bottom:30px;

      cite {
        display:inline-block;
        padding:10px 0;
      }
    }
  }
  .post.ng-hide {
    opacity:0;
  }

  .post.ng-hide-add, .post.ng-hide-remove {
    display:block!important;
  }
  .ng-invalid.ng-dirty {
    border-color:red;
  }
  .ng-valid.ng-dirty {
    border-color:green;
  }
  img {
    max-width:100%;
  }
  form {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .comment-form {
    border-radius: 4px;
    background: $gray;
    color: $limegreen;
    width: 95%;
  }
  .comment-button {
    text-align: center;
    margin-top: 1em;
    width: 8%;
    border-color: $limegreen;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline-color: $limegreen;
    outline-radius: 10px;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $gray-dk;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $gray-dk;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $gray-dk;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray-dk;
  }
  button {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .icon-button {
      background: transparent;
      border-style: none;
  }
}
