.blog-content {
  h1 {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .blog-index {
    li {
      font-weight: 500;
    }
  }
  .blog-posts {
    width:100%;
    position:relative;
    padding:20px 40px 20px;
    ul {
      li {
        padding: 20px;
        cursor: pointer;
        transition: background linear 0.5s;
        border-bottom: 1px solid $limegreen;
      }
      li:hover {
        background: $limegreen;
        color: $gray-dk;
        h3, p {
          color: $gray-dk;
        }
      }
    }
    h2, h3 {
      color: $limegreen;
    }
    .post {
      -webkit-transition:0.5s linear all;
      transition:0.5s linear all;
      opacity:1;
      padding-bottom:30px;

      cite {
        display:inline-block;
        padding:10px 0;
      }
    }
  }

  /*.comments {
    ul {
      margin:0;
      padding:0;
    li {
      list-style-type:none;
      padding:20px 5px;
      border-bottom:1px @blue solid;
      }
    }
  }*/
  .post.ng-hide {
    opacity:0;
  }

  .post.ng-hide-add, .post.ng-hide-remove {
    display:block!important;
  }
  .ng-invalid.ng-dirty {
    border-color:red;
  }
  .ng-valid.ng-dirty {
    border-color:green;
  }
  img {
    max-width:100%;
  }
}
