/*Footer*/
.footer {
    margin: auto;
    padding: 10px 0;
    color: $limegreen;
    p {
      text-align: center;
    }
    ul {
      display: table;
      margin: 0 auto;
      padding: 1em;
    }
    img {
      width: 10%;
    }
}
