.top-nav.navbar-default {
  font-family: $vollkornfont;
  font-weight: 700;
  font-size: 17px;
  background-color: $gray;
  border-width: 0px;
  border-radius: 0px;
  padding: 0 90px 0 90px;

  .navbar-brand {
    color: $limegreen;
    
  }

  .navbar-nav>li>a {
    color: $limegreen;
    background-color: $gray;
    float: left;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus {
    color: $gray-dk;
    background-color: $limegreen;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: $gray-dk;
    background-color: $limegreen;
  }

  .navbar-toggle {
    border-color: $limegreen;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: $limegreen;
  }

  .navbar-toggle .icon-bar {
    background-color: $limegreen;
  }

  .navbar-toggle:hover .icon-bar,
  .navbar-toggle:focus .icon-bar {
    background-color: $gray;
  }
}
@media (max-width:545px) {
  .navbar-brand span img {
    width: 50%;
  }
  .navbar-brand {
    font-size: 80%;
  }
}
@media (max-width:350px) {
  .navbar-brand span img {
    width: 40%;
  }
  .navbar-brand {
    font-size: 70%;
  }
}
