.portfolio-page {
  h1 {
    text-align: center;
  }
  img {
    border: 2px solid $black;
    border-radius: 25px;
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    margin: 10px 10px 10px 10px;
    background-color: $gray-lt;
  }
  .caption {
    /*background-color: $gray-dk;*/
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    margin: 10px 10px 10px 10px;
    width: 95%;
    height: 97.75%;
    top: -6px;
    left: 9px;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: $ghastly;
    h2, p {
      word-spacing: -0.15em;
      position: relative;
      text-align: center;
    	top: 40%;
    	left: 0;
    	width: 100%;
    	color: $limegreen;
    	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
    	transition: transform 0.35s, color 0.35s;
    	-webkit-transform: translate3d(0,-50%,0);
    	transform: translate3d(0,-50%,0);
    }
  }
  .caption-style:hover {
    .caption {
      display: block;
      opacity: 1;
    }
    img {
      transform: scale(1.05);
      filter: gray;
      -webkit-filter: grayscale(1.0);
    }
  }
}
