<div ng-controller="BlogCtrl as blog">
<div class="container-fluid blog-content">
  <div class="jumbotron well">
      <a href="#" ng-click="blog.selectTab('blog')"><h1>Blog</h1></a>
      <div class="icon-dividers">
        <span class="fa fa-star star-icons"></span><span class="fa fa-star star-icons"></span><span class="fa fa-star star-icons"></span>
      </div>
      <div class="col-md-2 col-md-offset-1 blog-index">
        <nav role='navigation' class="push-left">
          <ul>
            <li><a href="#" ng-click="blog.selectTab('blog')">INDEX //</a></li>
            <!--<li><a href="#" ng-click="blog.selectTab('new')">New Post</a></li>-->
          </ul>
        </nav>
      </div>
  </div>
  <div class="row blog-posts">
      <ul ng-show="blog.isSelected('blog')">
        <li ng-repeat="post in blog.posts" class="col-md-12" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)">
          <h3>{{post.title}}</h3>
          <p>{{ post.createdOn | date:'medium' }} - {{post.body | limitTo:120}}...</p>
          <p class="fa fa-comment push-left"> {{post.comments.length}} </p>
          <p class="fa fa-thumbs-up push-right"> {{post.likes}} </p>
          <p class="fa fa-thumbs-down push-right"> {{post.dislikes}} </p>
        </li>
      </ul>
      <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
        <div>
          <h2>{{post.title}}</h2>
          <img ng-src="{{post.image}}" ng-show="{{post.image}}"/>
          <cite>by {{post.author}} on {{ post.createdOn | date:'medium' }}</cite>
          <div class="post-body">
            <p>{{post.body}}</p>
          </div>
          <div ng-controller="CommentCtrl as CmtCtrl">
            <button class="icon-button" ng-click="post.likes = post.likes+1">
              <i class="fa fa-thumbs-up"></i> {{post.likes}}
            </button>
            <button class="icon-button" ng-click="post.dislikes = post.dislikes+1">
              <i class="fa fa-thumbs-down"></i> {{post.dislikes}}
            </button>
            <h3> Comments <h3>
            <form class="form-style" name="commentForm" ng-submit="commentForm.$valid && CmtCtrl.addComment(post)" novalidate>
              <h4> Add Comment: </h4>
              <div>
                <input type="text" class="comment-form form-control input-lg" name="body" ng-model="CmtCtrl.comment.body" required placeholder="Leave a comment"/>
              </div>
              <h4> Name: </h4>
              <div>
                <input type="text" class="comment-form form-control input-sm" name="author" ng-model="CmtCtrl.comment.author" required placeholder="Name"/>
              </div>
              <div>
                <button type="submit" class="btn comment-button button-style intro-social-buttons">Submit</button>
              </div>
              <!--<textarea class="comment-form" ng-model="CmtCtrl.comment.body" cols="30" rows="6" required></textarea></br>
              <label for=""> <h4>Name:</h4> </label></br>
              <input class="comment-form" type="text" ng-model="CmtCtrl.comment.author" required placeholder="Name"/></br>
              <input class="btn comment-button button-style intro-social-buttons" type="submit" value="Submit"></br>-->
            </form>
            <ul>
              <li ng-repeat="comment in post.comments">
                "{{comment.body}}"
                <cite>- <b>{{comment.author}}</b></cite>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
