<div class="contact-page">
  <div class="jumbotron well">
      <h1>Contact</h1>
      <div class="icon-dividers">
        <span class="fa fa-star star-icons"></span><span class="fa fa-star star-icons"></span><span class="fa fa-star star-icons"></span>
      </div>
  </div>

  <div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
              <h3>Please use the form below to contact me</h3>
              <form name="emailForm" novalidate>
                  <div class="form-group">
  	                <label for="contact-name">Name:</label><br/>
  	                <input type="email" name="from" ng-model="email.fromName" ng-required="true" placeholder="Full Name" class="contact-name" id="contact-name" >
  	              </div>
  	              <div class="form-group">
  	                <label for="contact-email">Email:</label><br/>
  	                <input type="email" name="email" ng-model="email.from" ng-required="true" placeholder="youremail@email.com" class="contact-email" id="contact-email">
  	              </div>
  	              <div class="form-group">
  	                <label for="contact-subject">Subject:</label><br/>
  	                <input type="text" name="subject" ng-model="email.subject" ng-required="true" placeholder="Email Subject" class="contact-subject" id="contact-subject">
  	              </div>
  	              <div class="form-group">
  	                <label for="contact-message">Message:</label><br/>
  	                <textarea ng-model="email.text" name="text" placeholder="Your Message" class="contact-message" id="contact-message"></textarea>
  	              </div>
  	              <button type="submit" ng-click="submitEmail()" class="btn button-style intro-social-buttons fa fa-envelope"> Send </button>
            </form>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="{{bostonimage}}">
            <h3>Email:</h3>
            <p>{{colinemail}}</p>
            <h3>Phone Number:</h3>
            <p>{{colinphone}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
