<div class="footer">
<ul class="list-inline intro-social-buttons">
  <li>
    <a href="https://twitter.com/TheColinSmith" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-twitter fa-fw">
        </i>
          <span>Twitter</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/profile/view?id=AAIAAAnAbHMBMWpO6nPhSbhGBIwUlpuBmp5WfW4&trk=nav_responsive_tab_profile_pic" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-linkedin fa-fw">
      </i>
        <span class="media-connection">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/colin.m.smith.9" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-facebook fa-fw">
      </i>
        <span class="media-connection">Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/BeardedYeti" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-github fa-fw">
      </i>
        <span class="media-connection">Github</span>
    </a>
  </li>
  <li>
    <a href="http://www.freecodecamp.com/beardedyeti" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-fire fa-fw">
      </i>
        <span class="media-connection">freeCodeCamp</span>
    </a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
          <ul class="list-inline">
            <li class="nav-footer">
              <a ui-sref="home">Home</a>
            </li>
            <li>&sdot;</li>
            <li class="nav-footer">
              <a ui-sref="about">About</a>
            </li>
            <li>&sdot;</li>
            <li class="nav-footer">
              <a ui-sref="portfolio-page">Portfolio</a>
            </li>
            <li>&sdot;</li>
            <li class="nav-footer">
              <a ui-sref="blog">Blog</a>
            </li>
            <li>&sdot;</li>
            <li class="nav-footer">
              <a ui-sref="contact">Contact</a>
            </li>
          </ul>
      <p>Copyright &copy; Colin Smith 2015. All Rights Reserved</p>
    </div>
  </div>
</div>
</div>
