<ul class="list-inline intro-social-buttons">
  <li class="button-style">
    <a href="" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-twitter fa-fw">
        </i>
          <span class="media-connection">Twitter</span>
    </a>
  </li>
  <li class="button-style">
    <a href="" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-linkedin fa-fw">
      </i>
        <span class="media-connection">LinkedIn</span>
    </a>
  </li>
  <li class="button-style">
    <a href="" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-facebook fa-fw">
      </i>
        <span class="media-connection">Facebook</span>
    </a>
  </li>
  <li class="button-style">
    <a href="" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-github fa-fw">
      </i>
        <span class="media-connection">Github</span>
    </a>
  </li>
  <li class="button-style">
    <a href="" target="_blank" class="btn btn-default btn lg button-style">
      <i class="fa fa-fire fa-fw">
      </i>
        <span class="media-connection">freeCodeCamp</span>
    </a>
  </li>
</ul>

By: Colin M. Smith
